{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {# bytes are given in 1K-blocks #}
        {% set bytes = bytes * 1024 %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}
        {% set petabyte = terabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% elseif bytes < petabyte %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% else %}
            {{ (bytes / petabyte)|number_format(2, '.') ~ ' PB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% import _self as forms %}

{% extends  "::base.html.twig" %}

{% block content %}

{% if details %}

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="info-box">
            {% if (details.cpu.load.min5 / details.cpu.count) > 0.8 %}
                <span class="info-box-icon bg-red"><i class="fa fa-thumbs-o-down"></i></span>
            {% elseif (details.cpu.load.min5 / details.cpu.count) > 0.5 %}
                <span class="info-box-icon bg-orange"><i class="fa fa-thumbs-o-up"></i></span>
            {% else %}
                <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
            {% endif %}
            <div class="info-box-content">
                <span class="info-box-text">CPU ({{ details.cpu.count }} Cores)</span>
                <span class="info-box-number">Cores used : {{ details.cpu.load.min5 / details.cpu.count}} %</span>
                <span class="info-box-number">Load (5min) : {{ details.cpu.load.min5 }}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">RAM</span>
                <span class="info-box-number">Free : {{ ((details.memory.free / details.memory.total) * 100)|number_format }} %</span>
                <span class="info-box-number">Total : {{ forms.bytesToSize(details.memory.total) }}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="info-box">
            {% if (details.memory.swap.used / details.memory.swap.total) > 0.8 %}
                <span class="info-box-icon bg-red"><i class="fa fa-thumbs-o-down"></i></span>
            {% elseif (details.memory.swap.used / details.memory.swap.total) > 0.5 %}
                <span class="info-box-icon bg-orange"><i class="fa fa-thumbs-o-up"></i></span>
            {% else %}
                <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
            {% endif %}
            <div class="info-box-content">
                <span class="info-box-text">SWAP</span>
                <span class="info-box-number">Free : {{ ((details.memory.swap.free / details.memory.swap.total) * 100)|number_format }} %</span>
                <span class="info-box-number">Total : {{ forms.bytesToSize(details.memory.swap.total) }}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="info-box">
            {% if (details.disk.used / details.disk.total) > 0.8 %}
                <span class="info-box-icon bg-red"><i class="fa fa-thumbs-o-down"></i></span>
            {% elseif (details.disk.used / details.disk.total) > 0.5 %}
                <span class="info-box-icon bg-orange"><i class="fa fa-thumbs-o-up"></i></span>
            {% else %}
                <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
            {% endif %}
            <div class="info-box-content">
                <span class="info-box-text">Disks</span>
                <span class="info-box-number">Free : {{ ((details.disk.free / details.disk.total) * 100)|number_format }} %</span>
                <span class="info-box-number">Total : {{ forms.bytesToSize(details.disk.total) }}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
              <h3 class="box-title">Network</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>IP</th>
                            <th>Hostname</th>
                        </tr>
                        <tr>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

{% else %}
<div class="callout callout-info">
    <h4>No data!</h4>
    <p>There is no data for this server yet. <br> Pease check that te IP is correct</p>
</div>
{% endif %}

{% endblock content %}