{% extends  "::base.html.twig" %}


{% block content %}

    <!-- Server list -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Server list</h3>
                    <div class="box-tools">
                        <div class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add a server</div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th>IP</th>
                                <th>Name</th>
                                <th>OS</th>
                                <th>Status</th>
                                <th>View</th>
                                <th>Delete</th>
                            </tr>

                            {% for server in servers %}

                                <tr>
                                    <td>{{ server.ip }}</td>
                                    <td>{{ server.name }}</td>
                                    <td>{{ server.os }}</td>                                   
                                    <td><span class="label label-success">Online</span></td>
                                    <td><a href="{{ path('server', {'id': server.uid}) }}">View</a></td>
                                    <td><a href="{{ path('delete_server', {'id': server.uid}) }}">Delete</a></td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>

{% endblock content %}

