{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {# bytes are given in 1K-blocks #}
        {% set bytes = bytes * 1024 %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}
        {% set petabyte = terabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% elseif bytes < petabyte %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% else %}
            {{ (bytes / petabyte)|number_format(2, '.') ~ ' PB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% import _self as forms %}

{% extends  "::base.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody><tr>
                                <th>IP</th>
                                <th>Name</th>
                                <th>OS</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>{{ server.ip }}</td>
                                <td>{{ server.name }}</td>
                                <td>{{ server.os }}</td>
                                <td><span class="label label-success">Online</span></td>
                            </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- server data row (id + date) -->
    <div class="row">
        <div class="col-xs-12">
            <h3> Server details:</h3>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>@id</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <td>{{ data['id'] }}</td>
                                <td>{{ data['date'] | date('d/m/Y H:i:s') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- disk row -->
    <div class="row">
        <div class="col-xs-12">
            <h3>Server disk:</h3>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Used</th>
                                <th>Total</th>
                                <th>Free</th>
                            </tr>
                            <tr>
                                <td>{{ forms.bytesToSize(details.disk.used)  }}</td>
                                <td>{{ forms.bytesToSize(details.disk.total) }}</td>
                                <td>{{ forms.bytesToSize(details.disk.free) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>

    </div>
    <!-- cpu row -->
    <div class="row">
        <div class="col-xs-12">
            <h3>Server CPU:</h3>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Number of CPU(s)</th>
                                <th>Averaged number of running process over last 1 minute</th>
                                <th>Averaged number of running process over last 5 minutes</th>
                                <th>Averaged number of running process over last 15 minutes</th>
                            </tr>
                            <tr>
                                <td>{{ details.cpu.count }}</td>
                                <td>{{ details.cpu.load.min1 }}</td>
                                <td>{{ details.cpu.load.min5 }}</td>
                                <td>{{ details.cpu.load.min15 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- memory row -->
    <div class="row">
        <div class="col-xs-12">
            <h3>Server Memory:</h3>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Total</th>
                                <th>Used</th>
                                <th>Free</th>
                                <th colspan="2">Buffers cache</th>
                                <th colspan="3">SWAP</th>
                            </tr>
                            <tr>
                                <td rowspan="2">{{ details.memory.total }}</td>
                                <td rowspan="2">{{ details.memory.used }}</td>
                                <td rowspan="2">{{ details.memory.free }}</td>
                                <th>Used</th>
                                <th>Free</th>
                                <th>Total</th>
                                <th>Used</th>
                                <th>Free</th>
                            </tr>
                            <tr>
                                <td>{{ details.memory.buffersCache.used }}</td>
                                <td>{{ details.memory.buffersCache.free }}</td>
                                <td>{{ details.memory.swap.total }}</td>
                                <td>{{ details.memory.swap.used }}</td>
                                <td>{{ details.memory.swap.free }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>

{% endblock content %}