{% extends  "::base.html.twig" %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>email</th>
                    </tr>

                    {% for user in users %}

                        <tr>
                            <td><img src="{{ app.user.username|githubAvatarURL }}" class="table-img img-circle" alt="User avatar" />{{ user.username }}</td>
                            <td>{{ user.username|githubName }}</td>
                            <td><a href="mailto:{{ user.email }}"><i class="fa fa-envelope"></i> <span>{{ user.email }}</span></a></td>
                        </tr>


                    {% endfor %}


                    </tbody></table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

{% endblock content %}
